In [155]:
# units
M = 10**6
months = 12

# variables
five_percent = 5/100
vacancy_rate = 5 / 100
repair_rate = 5 / 100
property_management_rate = 5/100

# price, down payment and loan
purchase_price = 1.8 * M
down_payments = purchase_price * 0.2
loan = purchase_price * 0.8

# total cost, cash needed
purchasing_closing_cost = 42830
monthly_morgage_payment = 7277
pre_rent_holding_cost = monthly_morgage_payment*2
estimated_repair = 50000  # this is based on our best estimate
total_cost = purchase_price + purchasing_closing_cost + pre_rent_holding_cost + \
    estimated_repair
total_cash_needed = total_cost - loan
print(f"total cash need {dollar(total_cache_needed)}")

# ROI
num_units = 3
unit_month_income = 2500
home_insurance = 480
property_tax = 345


total_monthly_income = num_units * unit_month_income
vacancy = total_monthly_income * vacancy_rate
repair = total_monthly_income * repair_rate
property_management = total_monthly_income * property_management_rate
estimated_monthly_expense = monthly_morgage_payment + \
property_tax + home_insurance + vacancy + repair + property_management
monthly_cash_flow = total_monthly_income - estimated_monthly_expense
ROI = monthly_cash_flow * months / total_cash_needed
print(f"\nmonthly cash flow: {dollar(monthly_cash_flow)}")
annual_rate = ((977500 / 837528) ** (1/19))**4
print(f"estimated annual rate: {round((annual_rate - 1)*100, 2)} %")
print(f"total monthly poincome: {dollar(total_monthly_income)}")
print(f"monthly estimated expense: {dollar(estimated_monthly_expense)}")
loans_year_after_year = from_web_page_to_loads()
print("percentage covered", round(total_monthly_income / estimated_monthly_expense, 2)*100, "%")

total cash need $488,194.00

monthly cash flow: $-1,727.00
estimated annual rate: 3.31 %
total monthly income: $7,500.00
monthly estimated expense: $9,227.00
percentage covered 81.0 %

In [150]:
property_management

700.0


| expense type | amount |
|------|------|
|  monthly morgage payment  | \$7,682  |
| property tax| \$1,283| 
| home insurance | \$507|
| vacancy|\$700|
| repair |\$700|
| property management |\$700|

In [105]:
def dollar(s):
    return '${:,.2f}'.format(s)

def from_web_page_to_loads():
    s = """2020	$26,767.73	$60,312.79	$87,080.52	$1,493,232.27
    2021	$27,858.29	$59,222.23	$87,080.52	$1,465,373.98
    2022	$28,993.28	$58,087.24	$87,080.52	$1,436,380.70
    2023	$30,174.49	$56,906.03	$87,080.52	$1,406,206.21
    2024	$31,403.87	$55,676.65	$87,080.52	$1,374,802.34
    2025	$32,683.30	$54,397.22	$87,080.52	$1,342,119.04
    2026	$34,014.86	$53,065.66	$87,080.52	$1,308,104.18
    2027	$35,400.67	$51,679.85	$87,080.52	$1,272,703.51
    2028	$36,842.95	$50,237.57	$87,080.52	$1,235,860.56
    2029	$38,343.98	$48,736.54	$87,080.52	$1,197,516.58
    2030	$39,906.20	$47,174.32	$87,080.52	$1,157,610.38
    2031	$41,532.04	$45,548.48	$87,080.52	$1,116,078.34"""
    return [int(float(i.split("\t")[-1].replace("$", "").replace(",", ""))) for i in s.split("\n")]

In [109]:
values = []
for i in range(1, 11):
    price = int(purchase_price * annual_rate ** i) 
    # print(f"year: {i} price : {'${:,.2f}'.format(price)}")
    price_after_forced_appreciation = price * 1.1
    print(f"year: {i} price : {'${:,.2f}'.format(price_after_forced_appreciation)}")    
    values.append(price_after_forced_appreciation)

count = 0
sales_expenses = []
for property_value in values:
    total_sales_expense = property_value * 6/100
    print(f"selling after {count} years", '${:,.2f}'.format(total_sales_expense))
    count += 1
    sales_expenses.append(total_sales_expense)

year: 1 price : $2,159,117.40
year: 2 price : $2,230,520.60
year: 3 price : $2,304,284.40
year: 4 price : $2,380,489.10
year: 5 price : $2,459,212.80
year: 6 price : $2,540,540.20
year: 7 price : $2,624,557.10
year: 8 price : $2,711,352.60
year: 9 price : $2,801,019.10
year: 10 price : $2,893,650.10
selling after 0 years $129,547.04
selling after 1 years $133,831.24
selling after 2 years $138,257.06
selling after 3 years $142,829.35
selling after 4 years $147,552.77
selling after 5 years $152,432.41
selling after 6 years $157,473.43
selling after 7 years $162,681.16
selling after 8 years $168,061.15
selling after 9 years $173,619.01

In [156]:
for i in range(10):
    print(f"year afterwards: {i} year")
    print(f"value: {dollar(values[i])}, \
          sales expense : {dollar(sales_expenses[i])}, \
          loan : {dollar(loans_year_after_year[i])}")
    appreciation_profit = values[i] - sales_expenses[i] - loans_year_after_year[i] - total_cash_needed
    print(f"appreciation_profit: {dollar(appreciation_profit)}")
    cash_flow = monthly_cash_flow * 12 * (i + 1)
    print(f"total cash flow {dollar(cash_flow)}")
    total_profit = appreciation_profit + cash_flow
    print(f"total profit {dollar(total_profit)}")
    print("\n")

year afterwards: 0 year
value: $2,159,117.40,           sales expense : $129,547.04,           loan : $1,493,232.00
appreciation_profit: $68,954.36
total cash flow $-20,724.00
total profit $48,230.36


year afterwards: 1 year
value: $2,230,520.60,           sales expense : $133,831.24,           loan : $1,465,373.00
appreciation_profit: $163,932.36
total cash flow $-41,448.00
total profit $122,484.36


year afterwards: 2 year
value: $2,304,284.40,           sales expense : $138,257.06,           loan : $1,436,380.00
appreciation_profit: $262,263.34
total cash flow $-62,172.00
total profit $200,091.34


year afterwards: 3 year
value: $2,380,489.10,           sales expense : $142,829.35,           loan : $1,406,206.00
appreciation_profit: $364,069.75
total cash flow $-82,896.00
total profit $281,173.75


year afterwards: 4 year
value: $2,459,212.80,           sales expense : $147,552.77,           loan : $1,374,802.00
appreciation_profit: $469,474.03
total cash flow $-103,620.00
total profit $365,854.03


year afterwards: 5 year
value: $2,540,540.20,           sales expense : $152,432.41,           loan : $1,342,119.00
appreciation_profit: $578,604.79
total cash flow $-124,344.00
total profit $454,260.79


year afterwards: 6 year
value: $2,624,557.10,           sales expense : $157,473.43,           loan : $1,308,104.00
appreciation_profit: $691,595.67
total cash flow $-145,068.00
total profit $546,527.67


year afterwards: 7 year
value: $2,711,352.60,           sales expense : $162,681.16,           loan : $1,272,703.00
appreciation_profit: $808,584.44
total cash flow $-165,792.00
total profit $642,792.44


year afterwards: 8 year
value: $2,801,019.10,           sales expense : $168,061.15,           loan : $1,235,860.00
appreciation_profit: $929,713.95
total cash flow $-186,516.00
total profit $743,197.95


year afterwards: 9 year
value: $2,893,650.10,           sales expense : $173,619.01,           loan : $1,197,516.00
appreciation_profit: $1,055,131.09
total cash flow $-207,240.00
total profit $847,891.09

$$ valuenow = valuepast * quarterrate^{numofquarter} $$

| time | price   |
|------|------|
|  start  | 1.9  |